/* Estilo para o body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('urso.webp');
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a tela */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

/* Container principal */
.container {
    text-align: center;
    padding: 30px 40px;
    background-color: rgba(253, 13, 13, 0.377); /* Cor de fundo com transparência para contrastar com a imagem */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(241, 6, 6, 0.973);
    width: 100%;
    max-width: 400px;
}

/* Título */
h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #fff; /* Mudando a cor do título para branco para melhorar a visibilidade */
}

/* Estilo do temporizador */
#timer {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0;
    color: #fff; /* Mudando a cor do temporizador para branco */
}

/* Estilo do botão */
button {
    padding: 12px 24px;
    background-color: #ec4c4c;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #f73131;
    transform: scale(1.05);
}

button:disabled {
    background-color: #f84444;
    cursor: not-allowed;
}

/* Adicionando uma transição suave para o tempo */
#timer {
    transition: color 0.5s ease;
}

/* Animar o texto do temporizador quando o tempo acabar */
#timer.end {
    color: #28a745; /* Cor verde quando o tempo acabar */
}
